lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.idea/
video/

app/bower_components
app/scripts/**/*.js
app/scripts/**/*.map

lib/**/*.map
lib/**/*.js

test/**/*.map
test/**/*.js




config/runtime.json