<!DOCTYPE html>
<html ng-app="VideoApp">
<head>
    <title>Streamer</title>
</head>
<body ng-controller="VideoCtrl as ctrl">

    <div class="container">
        <ul>
            <li ng-repeat="video in ctrl.videos">
                <a href="#" ng-click="ctrl.play(video)">
                    {{ video.name }}
                </a>
            </li>
        </ul>

        <video controls witdh="800" height="200"></video>
    </div>


<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>

<script src="/scripts/binary.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/controllers/videoCtrl.js"></script>
</body>
</html>